<h1>Burger Build</h1>
<br>

<form action="/submit" method="post">

  <h2>Välj ingredienser:</h2>


  <h3>Bröd:</h3>
<% @ingredients.select { |ingredient| ingredient['type'] == 'Bröd' }.each do |ingredient| %>
  <label>
    <input type="radio" name="selected_Bröd" value="<%= ingredient['id'] %>">
    <%= ingredient['name'] %> - <%= ingredient['price'] %> kr
  </label>
  <br>
<% end %>


  <br>
  <br>
 

  <h3>Kött:</h3>
<% @ingredients.select { |ingredient| ingredient['type'] == 'Kött' }.each do |ingredient| %>
  <label>
    <input type="radio" name="selected_Kött" value="<%= ingredient['id'] %>">
    <%= ingredient['name'] %> - <%= ingredient['price'] %> kr
  </label>
  <br>
<% end %>


  <br>
  <br>


  <h3>Grönsaker:</h3>
<% @ingredients.select { |ingredient| ingredient['type'] == 'Grönsaker' }.each do |ingredient| %>
  <label>
    <input type="checkbox" name="selected_Grönsaker" value="<%= ingredient['id'] %>">
    <%= ingredient['name'] %> - <%= ingredient['price'] %> kr
  </label>
  <br>
<% end %>


<br>
<br>


<h3>Sås:</h3>
<% @ingredients.select { |ingredient| ingredient['type'] == 'Sås' }.each do |ingredient| %>
  <label>
    <input type="checkbox" name="selected_Sås" value="<%= ingredient['id'] %>">
    <%= ingredient['name'] %> - <%= ingredient['price'] %> kr
  </label>
  <br>
<% end %>


<br>
<br>


<h3>Tillbehör:</h3>
<% @ingredients.select { |ingredient| ingredient['type'] == 'Tillbehör' }.each do |ingredient| %>
  <label>
    <input type="checkbox" name="selected_Tillbehör" value="<%= ingredient['id'] %>">
    <%= ingredient['name'] %> - <%= ingredient['price'] %> kr
  </label>
  <br>
<% end %>

<br>
<br>

  <button type="submit">Skicka</button>

</form>